
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <style>
        .page-header {
            color: #787A91;
            font-weight: 600;
            font-size: 20px;
        }

        .tab-header {
            color: #787A91;
            font-weight: 600;
            font-size: 20px;
        }

        .table-container {
            box-shadow: 0 0 10px 1px rgba(217,217,217,1);
            padding: 20px;
        }

        .overview-card {
            border: none;
            box-shadow: 7px 10px 7px -1px rgba(217,217,217,1);
            padding: 20px;
            border-left: 4px solid #05445E;
        }

        .report-btn-1 {
            background-color: #21BCA8;
            color: white;
            transition: 0.3s ease;
            outline: none;
        }

            .report-btn-1:hover {
                background-color: #066163;
                color: white;
                outline: none;
            }

        .report-btn-2 {
            background-color: #189AB4;
            color: white;
            transition: 0.3s ease;
            outline: none;
        }

            .report-btn-2:hover {
                background-color: #05445E;
                color: white;
                outline: none;
            }

        .reported-link {
            color: #189AB4;
        }

            .reported-link:hover {
                color: #05445E;
            }

        .comment-card {
            border: none;
            box-shadow: 7px 10px 7px -1px rgba(217,217,217,1);
            padding: 20px;
        }

        .comment-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    </style>

</head>

<p class="mb-4 mt-2 page-header">Reports</p>
<div class="row mt-2">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card overview-card  first-card py-2">
            <div class="card-body">
                <h5 class="card-title">Total Reports</h5>
                <h6 class="card-subtitle mb-2 text-muted">@ViewBag.reportCount</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card overview-card second-card py-2">
            <div class="card-body">
                <h5 class="card-title">Post</h5>
                <h6 class="card-subtitle mb-2 text-muted">@ViewBag.postReportCount</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card overview-card third-card py-2">
            <div class="card-body">
                <h5 class="card-title">Profile</h5>
                <h6 class="card-subtitle mb-2 text-muted">@ViewBag.profileReportCount</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card overview-card fourth-card py-2">
            <div class="card-body">
                <h5 class="card-title">Comment</h5>
                <h6 class="card-subtitle mb-2 text-muted">@ViewBag.commentReportCount</h6>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid table-container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active tab-header" id="nav-post-tab" data-bs-toggle="tab" data-bs-target="#nav-post" type="button" role="tab" aria-controls="nav-post" aria-selected="true">Posts</button>
            <button class="nav-link tab-header" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
            <button class="nav-link tab-header" id="nav-comment-tab" data-bs-toggle="tab" data-bs-target="#nav-comment" type="button" role="tab" aria-controls="nav-chat" aria-selected="false">Comment</button>
        </div>
    </nav>


    <div class="tab-content" id="nav-tabContent">
        <!--post tab-->
        <div class="tab-pane fade show active" id="nav-post" role="tabpanel" aria-labelledby="nav-post-tab" tabindex="0">
            <div class="container-fluid table-container">
                <div class="row mt-2">
                    <table class="table table-hover mt-2" id="post-table">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>Report ID</th>
                                <th>Reason</th>
                                <th>View Post</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.postReport)
                            {
                                <tr>
                                    <td>@item.ReportID</td>
                                    <td>@item.Reason</td>
                                    <td><a href=@Url.Action("ViewPost", "Post", new { PostID = item.ContextID }) class="reported-link">View</a></td>
                                    <td>
                                        @{
                                            string disable = "";
                                            if (item.User.Rank.Contains("ADMIN"))
                                            {
                                                disable = "disabled";
                                            }
                                        }
                                        <button type="button" class="btn bg-primary text-white" onclick="Delete(this)" report-id="@item.ReportID" context-id="@item.ContextID" context="@item.Context"><i class="bi-slash-circle-fill me-2 c-white"></i>Delete</button>
                                        <button type="button" class="btn report-btn-1" onclick="Ban(this)" report-id="@item.ReportID" context-id="@item.ContextID" context="@item.Context" @disable><i class="bi-slash-circle-fill me-2 c-white"></i>Actions</button>
                                        <button type="button" class="btn report-btn-2" onclick="Dismiss(this)" report-id="@item.ReportID"><i class="bi-x-circle-fill me-2 c-white"></i>Dismiss</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--profile tab-->
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <div class="container-fluid table-container">
                <div class="row mt-2">
                    <table class="table table-hover mt-2" id="profile-table">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>Report ID</th>
                                <th>Reason</th>
                                <th>View Profile</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.profileReport)
                            {
                                string disable = "";
                                if (item.User.Rank.Contains("ADMIN"))
                                {
                                    disable = "disabled";
                                }
                                <tr>
                                    <td>@item.ReportID</td>
                                    <td>@item.Reason</td>
                                    <td><a href=@Url.Action("Index", "UserProfile", new { Username = item.ContextID }) class="reported-link">View</a></td>
                                    <td>

                                        <button type="button" class="btn report-btn-1" onclick="Ban(this)" report-id="@item.ReportID" context-id="@item.ContextID" context="@item.Context" @disable><i class="bi-slash-circle-fill me-2 c-white"></i>Ban</button>

                                        <button type="button" class="btn report-btn-2" onclick="Dismiss(this)" report-id="@item.ReportID"><i class="bi-x-circle-fill me-2 c-white"></i>Dismiss</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--comment tab-->
        <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab" tabindex="0">
            <div class="container-fluid table-container">
                <div class="row mt-2">
                    <table class="table table-hover mt-2" id="comment-table">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>Report ID</th>
                                <th>Reason</th>
                                <th>View Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.commentReport)
                            {
                                string disable = "";
                                if (item.User.Rank.Contains("ADMIN"))
                                {
                                    disable = "disabled";
                                }
                                <tr>
                                    <td>@item.ReportID</td>
                                    <td>@item.Reason</td>
                                    <td>
                                        <button type="button" class="btn bg-primary text-white" onclick="Delete(this)" report-id="@item.ReportID" context-id="@item.ContextID" context="@item.Context" @disable><i class="bi-slash-circle-fill me-2 c-white"></i>Delete</button>
                                        <button type="button" onclick="btnActionClicked('@item.ReportID')" class="btn report-btn-1" @disable><i class="bi-slash-circle-fill me-2 c-white"></i>Action</button>
                                        <button type="button" class="btn report-btn-2" onclick="Dismiss(this)" report-id="@item.ReportID"><i class="bi-x-circle-fill me-2 c-white"></i>Dismiss</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        $('#post-table').DataTable();
        $('#profile-table').DataTable();
        $('#comment-table').DataTable();
    });
    async function Delete(element) {
        var contextID = element.getAttribute("context-id");
        var reportID = element.getAttribute("report-id");
        var context = element.getAttribute("context");
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeletePostOrComment", "Admin")',
                    data: {
                        ReportID: reportID,
                        ContextID: contextID,
                        Context: context
                    },
                    success: (response) => {
                        if (response == "post") {
                            console.log(response);
                        }

                    }

                });
                if (context == "POST") {
                    Swal.fire(
                        'Deleted!',
                        'This post has been deleted',
                        'success'
                    )
                } else if(context == "COMMENT" ) {
                    Swal.fire(
                        'Deleted!',
                        'This comment has been deleted',
                        'success'
                    )
                }
               // $('#forum-table').DataTable().row($(this).parents('tr')).remove().draw();
                location.reload();
                //$('#forum-table').DataTable().ajax.reload();
            }
        })
    }
    function Dismiss(element) {
        var reportID = element.getAttribute("report-id");
         $.ajax({
            type: 'POST',
            url: '@Url.Action("DismissReport", "Admin")',
            data: {
                ReportID: reportID,
            },
            success: (response) => {
                location.reload();

            }
        })

    }
    async function Ban(element) {
        var contextID = element.getAttribute("context-id");
        var reportID = element.getAttribute("report-id");
        var context = element.getAttribute("context");
        const { value: formValues } = await Swal.fire({
            title: 'Ban',
            html:
                `<div class="container">` +
                `<div class="row my-3 justify-content-md-center p-2 border">` +
                `<div class="col-12 mx-1 rounded bg-grey" style="text-align:justify;">` +
                `<div class="input-group my-3">` +
                `<input type="number" value="0" style="margin-right: 1rem;" id="amount" class="form-control">` +
                `<select class="custom-select btn bg-dark text-center text-white" id="unit">` +
                `<option value="1" selected>Hours</option>` +
                `<option value="2">Days</option>` +
                `<option value="3">Months</option>` +
                `<option value="4">Years</option>` +
                `</select>` +
                `</div>` +
                `</div>` +
                `</div>` +
                `</div>`,
            focusConfirm: false,
            showCancelButton: true,
            confirmButtonColor: '#21BCA8',
            confirmButtonText: 'Ban',
            preConfirm: () => {
                return [
                    document.getElementById('amount').value,
                    document.getElementById('unit').value
                ]
            }
        })
        if (formValues) {
            if (formValues[0].trim().length <= 0 || formValues[0] < 1) {
               Ban(element);
               // Swal.showValidationMessage('Input a number');
                return false;

            }
            Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, ban!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("BanUser", "Admin")',
                    data: {
                        ReportID: reportID,
                        ContextID: contextID,
                        Context: context,
                        Banvalue: formValues[0].trim(),
                        BanDuration: formValues[1],
                    },
                    success: (response) => {


                    }

                });

                Swal.fire(
                    'Banned!',
                    'This user has been banned',
                    'success'
                )

               // $('#forum-table').DataTable().row($(this).parents('tr')).remove().draw();
                //location.reload();
                //$('#forum-table').DataTable().ajax.reload();
            }
        })

            //formValues[0] returns amount
            //formValues[1] returns 1, 2, 3 where 1 = hour, 2 = day, 3 = year
            //write your code here
        }
    }

    var profilePictureBaseLoc = '@Url.Content("~/Images/ProfilePicture/")';
    var postBaseLoc = '@Url.Content("~/Post/ViewPost")';

    async function btnActionClicked(reportID) {

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetReportInformation", "Admin")',
            data: {
                ReportID: reportID,
            },
            success: (response) => {
                response = JSON.parse(response);
                console.log(response);
                commentViewPopup(response);
            }
        })
    }

    async function commentViewPopup(data) {
        const { value: formValues } = await Swal.fire({
            title: 'Action',
            html:
                `<div class="container">` +
                `<div class="row my-3 justify-content-md-center p-2 border">` +
                `<div class="col-2 p-0 m-0">` +
                `<img class="rounded-circle post-img-profile" style="width:64px; height: 64px" src=${profilePictureBaseLoc + data.ProfilePictureLocation} />` +
                `</div>` +
                `<div class="col-6 mx-1 rounded bg-grey" style="text-align:justify;">` +
                `<span class="fw-bold">${data.Name}</span>` +
                `<div class="fw-normal">${data.Content}</div>` +
                `</div>` +
                `</div>` +
                `<a target"_blank" href="${postBaseLoc + '?PostID=' + data.PostID}" class="btn btn-primary d-flex justify-content-center">View Post</a>` +
                `</div>` +
                `<div class="input-group my-3">` +
                `<input type="number" value="1" style="margin-right: 1rem;" type="number" id="amount" class="form-control">` +
                `<select class="custom-select" id="unit">` +
                `<option value="1" selected>Hours</option>` +
                `<option value="2">Days</option>` +
                `<option value="3">Months</option>` +
                `<option value="4">Years</option>` +
                `</select>` +
                `</div>`,
            focusConfirm: false,
            showCancelButton: true,
            confirmButtonText: 'Ban',
            preConfirm: () => {
                return [
                    document.getElementById('amount').value,
                    document.getElementById('unit').value
                ]
            }
        })

        if (formValues) {
            if (formValues[0].trim().length <= 0 || formValues[0] < 1) {
                commentViewPopup(data);
                return false;
            }
            if (result.isConfirmed) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeletePostOrComment", "Admin")',
                    data: {
                        ReportID: reportID,
                        ContextID: contextID,
                        Context: context
                    },
                    success: (response) => {
                        if (response == "post") {
                            console.log(response);
                        }

                    }

                });
                if (context == "POST") {
                    Swal.fire(
                        'Deleted!',
                        'This post has been deleted',
                        'success'
                    )
                } else if (context == "COMMENT") {
                    Swal.fire(
                        'Deleted!',
                        'This comment has been deleted',
                        'success'
                    )
                }

                //formValues[0] returns amount
                //formValues[1] returns 1, 2, 3 where 1 = hour, 2 = day, 3 = year
                //write your code here
            }
        }
    }

</script>
