
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>

    <style>
        .page-header {
            color: #787A91;
            font-weight: 600;
            font-size: 21px;
        }

        .table-container {
            box-shadow: 0 0 10px 1px rgba(217,217,217,1);
            padding: 20px;
        }
    </style>


</head>
<p class="mb-4 mt-3 page-header">Users</p>
<div class="container-fluid table-container">
    <div class="d-flex  flex-row">
        <div class="page-header">Total Users : </div>
        <div class="fw-bold page-header ms-1">@ViewBag.count</div>
    </div>
    <div class="row mt-2">
        <table class="table table-hover mt-2" id="user-table">
            <thead class="bg-dark text-white">
                <tr>
                    <th>User Name</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Gender</th>
                    <th>About</th>
                    <th>Total Posts</th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.userList)
            {
                <tr>
                    <td>@item.Username</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Gender</td>
                    <td>@item.About</td>
                    <td>@item.Posts.Count</td>
                </tr>

            }
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#user-table').DataTable();
    });
</script>

