<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/admin_panel.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!--Datatable css-->
    <link href="@Url.Content("~/Content/jquery.dataTables.css")" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" />
</head>
<body>


    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 admin-sidebar">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none fw-bolder">
                        <span class="fs-5 d-none d-sm-inline spanTitle">Hello Travellers</span>
                        <hr class="bg-white" style="color:white" />
                    </a>


                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start admin-sidebar-content" id="menu">
                        <li class="admin-sidebar-item">
                            <a href="@Url.Action("Dashboard", "Admin")" class="nav-link align-middle px-0 admin-sidebar-link">
                                <i class="fs-4 bi-grid"></i> <span class="ms-3 d-none d-sm-inline">Dashboard</span>
                            </a>
                        </li>
                        <li class="admin-sidebar-item">
                            <a href="@Url.Action("Users", "Admin")" class="nav-link px-0 align-middle admin-sidebar-link">
                                <i class="fs-4 bi-people"></i> <span class="ms-3 d-none d-sm-inline">Users</span>
                            </a>
                        </li>
                        <li class="admin-sidebar-item">
                            <a href="@Url.Action("Admins", "Admin")" class="nav-link px-0 align-middle admin-sidebar-link">
                                <i class="fs-4 bi-shield-fill-check"></i> <span class="ms-3 d-none d-sm-inline">Admins</span>
                            </a>
                        </li>
                        <li class="admin-sidebar-item">
                            <a href="@Url.Action("Posts", "Admin")" class="nav-link px-0 align-middle admin-sidebar-link">
                                <i class="fs-4 bi-file-post"></i> <span class="ms-3 d-none d-sm-inline">Posts</span>
                            </a>
                        </li>
                        <li class="admin-sidebar-item">
                            <a href="@Url.Action("Subforums", "Admin")" class="nav-link px-0 align-middle admin-sidebar-link">
                                <i class="fs-4 bi-card-list"></i> <span class="ms-3 d-none d-sm-inline">Subforums</span>
                            </a>
                        </li>
                        <li class="admin-sidebar-item">
                            <a href="@Url.Action("Reports", "Admin")" class="nav-link px-0 align-middle admin-sidebar-link">
                                <i class="fs-4 bi-flag"></i> <span class="ms-3 d-none d-sm-inline">Reports</span>
                            </a>
                        </li>
                        <li class="admin-sidebar-item">
                            <a href="@Url.Action("Settings", "Admin")" class="nav-link px-0 align-middle admin-sidebar-link">
                                <i class="fs-4 bi-gear-fill"></i> <span class="ms-3 d-none d-sm-inline">Settings</span>
                            </a>
                        </li>
                        <li class="admin-sidebar-item">
                            <a href="@Url.Action("Logout", "Admin")" class="nav-link px-0 align-middle admin-sidebar-link">
                                <i class="fs-4 bi-box-arrow-left"></i> <span class="ms-3 d-none d-sm-inline">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col py-3 content-wrapper">
                <div class="top-bar d-flex flex-row-reverse">
                    <div class="me-3">Hello Admin</div>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)

</body>
</html>



