@model List<Hello_Travellers.Models.Post>

<!--Calculation for card layouts-->
@{
    int length = Model.Count;
    int itemPerRow = Convert.ToInt32(Math.Ceiling(length / 3.0));
    int k = 0;
}

<style>

    .card {
        margin-bottom: 2rem;
    }

    @*.btn- {
        border: 5px solid;
        border-image-slice: 1;
        background: var(--gradient) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        border-image-source: var(--gradient) !important;
        text-decoration: none;
        transition: all .4s ease;
    }

        .btn:hover,
        .btn:focus {
            background: var(--gradient) !important;
            -webkit-background-clip: none !important;
            -webkit-text-fill-color: #fff !important;
            border: 5px solid #fff !important;
            box-shadow: #222 1px 0 10px;
            text-decoration: underline;
        }*@
</style>
<div class="container mx-auto mt-4">
    <div class="row">
        @foreach (var post in Model)
        {
            var img = post.MediaItems.FirstOrDefault();
            var imgLoc = Url.Content("~/Images/MediaContent/" + img.MediaID + img.Type);
            var content = post.Content.Substring(0, Math.Min(150, post.Content.Length)) + " ... ...";
            var voteCount = post.Reacts.Sum(temp => temp.ReactStatus);
            var url = Url.Content("~/Post/ViewPost?PostID=" + post.PostID);
            <div class="col-md-4">
                <div class="card" onclick="location.href='@url'">
                    <img src="@imgLoc" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">by @post.User.Name</h6>
                        <p class="card-text" style="text-align: justify;">
                            @content
                        </p>
                        <time class="loaded timeago border align-self-center mx-2" datetime="@post.CreationTime" style="font-size: 0.8rem;"></time>
                        <span class="border align-self-center mx-2" style="font-size: 0.8rem;">@voteCount votes</span>
                        <span class="border align-self-center mx-2" style="font-size: 0.8rem;">@post.Replies.Count() comments</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        jQuery("time.timeago").timeago();
    });
</script>