<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        * {
            font-family: 'Noto Sans', sans-serif;
        }
    </style>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">
            @Html.ActionLink("Hello Travellers!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    @if (Session["Username"] == null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Login", "Login", "UserAuth", new { area = "" }, new { @class = "nav-link" })
                            <input type="text" id="logger" value="false" style="display:none" />
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Sign Up", "SignUp", "UserAuth", new { area = "" }, new { @class = "nav-link" })
                        </li>

                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Create Post", "CreatePost", "Post", new { area = "" }, new { @class = "nav-link" })
                            <input type="text" id="logger" value="true" style="display:none" />
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("My Profile", "Index", "UserProfile", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Sign Out", "SignOut", "UserAuth", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" onclick="loadNotification()" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Notifications <span id="notification-counter"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><div id="notification-container"></div></li>
                                <li><a class="dropdown-item" href="#">See All Notifications</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <div>
        @RenderBody()
        <hr style="margin-top:0px" />
        <footer>
            <p>&copy; @DateTime.Now.2022 - My ASP.NET Application</p>
        </footer>
    </div>
    <script>
        //setInterval(updateNotificationCount ,5000)

        document.addEventListener('DOMContentLoaded', (event) => {
            var username = '@Session["Username"]';
            var usernameCheck = username.trim().length > 0;
            var loggerCheck = $('#logger').val();
            if (loggerCheck == usernameCheck) {
                location.reload();
            }
        });

        setInterval(loadNotificationCount, 5000);

        function loadNotificationCount() {
            if ('@Session["Username"]' != null) {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetNotificationCount", "Home")',
                    success: function (response) {
                        $("#notification-counter").html('(' + response + ')');
                    }
                })
            }
        }


        function loadNotification() {
            if ('@Session["Username"]' != null) {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetNotificationResult", "Home")',
                    success: function (response) {
                        $('#notification-container').html(response);
                    }
                })
            }
        }
    </script>
</body>
</html>