<style>

    .post-card {
        border-radius: 10px;
        min-height: 300px;
    }

       
        .post-card .card-header .post-card-img img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .post-card-footer i{
            color: #4abdac;
        }
</style>


<!--Post Content-->
<div class="container mt-3">
    <div class="row">
        <div class="card post-card border-0 shadow mb-2">
            <div class="card-header shadow-sm">
                <div class="hstack gap-3">
                    <div class="post-card-img">
                        <img src="~/Images/img1.jpg" alt="profileImage">
                    </div>
                    <div class="vstack">
                        <div>
                           <h5 class="card-title text-muted">@ViewBag.item.Title</h5>
                            <p>By @ViewBag.item.CreatorUsername, On @ViewBag.item.CreationTime</p>
                        </div>
                        <div>
                            <small></small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body">
                @ViewBag.item.Content
            </div>
            <div class="card-footer border-0">
                <div class="hstack gap-3">
                    <div class="post-card-footer">
                        <i class="bi bi-hand-thumbs-up mx-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Like"></i>
                        Likes
                        <i class="bi bi-hand-thumbs-down mx-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Dislike"></i>
                    </div>
                    <div class="post-card-footer" onclick="@("window.location.href='"+Url.Content("~/Post/ViewPost?PostID=" + ViewBag.item.PostID)+"'")"><i class="bi bi-chat mx-2"></i>Comments</div>
                    <div class="post-card-footer ms-auto"><i class="bi bi-flag mx-2"></i>Report</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Post content-->