
<style>
    .post-img {
        width: 100%;
        height: auto;
    }

    .post-pos-fixed {
        position: fixed;
    }

    .post-text-justify {
        text-align: justify;
        text-justify: inter-word;
    }

    .post-img-profile {
        aspect-ratio: 1/1;
        width: 100%;
    }

    .post-view-height {
        height: 94vh;
    }

    .pt-2 {
        padding-top: 2rem;
    }

    .bg-grey {
        background-color: whitesmoke;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-sm-12 post-view-height overflow-auto p-3">
            <p class="text-center fs-1 fw-bold font-monospace">@ViewBag.Post.Title</p>
            <p class="text-center fw-bold font-monospace">Written By @ViewBag.Writer.Name, Posted on @ViewBag.Post.CreationTime</p>
            @if (ViewBag.Media.Length > 0)
            {
                <div id="indexCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        @for (int i = 0; i < ViewBag.Media.Length; ++i)
                        {
                            <button type="button" id=@String.Format("slideBtn{0}", i) data-bs-target="#indexCarousel" data-bs-slide-to=@String.Format("{0}", i) aria-label=@String.Format("Slide {0}", i + 1)></button>
                        }
                    </div>
                    <div class="carousel-inner">
                        @for (int i = 0; i < ViewBag.Media.Length; ++i)
                        {
                            <div id=@String.Format("slideInner{0}", i) class="carousel-item index-carousal-fitter">
                                <img src=@Url.Content("~/Images/MediaContent/" + ViewBag.Media[i].MediaID + ViewBag.Media[i].Type) class="post-img rounded index-carousal-img" alt="...">
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#indexCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#indexCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            }

            <p class="text-start font-monospace my-3">
                @ViewBag.Post.Content
            </p>
        </div>
        <div class="col-md-3 col-sm-12 overflow-auto position-sticky">
            <div class="container-fluid">
                <div class="row my-3">
                    <div class="col-11 p-0">
                        @if (Session["Username"] != null)
                        {
                            <form action="~/Post/ViewPost" method="post" class="p-0">
                                <textarea class="form-control my-1" rows="3" placeholder="Comment something..." name="Content"></textarea>
                                <input type="submit" class="btn-primary form-control" value="Comment" />
                            </form>
                        } else
                        {
                        <div class="p-0 container-fluid">
                            <p class="text-center">Login to comment!</p>
                        </div>
                        }
                    </div>
                </div>
                @for (int i = 0; i < ViewBag.Replies.Length; ++i)
                {
                    <div class="row my-3">
                        <div class="col-2 p-0 m-0">
                            <img class="rounded-circle post-img-profile" src=@Url.Content("~/Images/ProfilePicture/" + ViewBag.Users[i].DisplayPictureName) />
                        </div>
                        <div class="col-9 mx-1 rounded bg-grey">
                            <span class="fw-bold">@ViewBag.Users[i].Name</span>
                            <div class="fw-normal">@ViewBag.Replies[i].Content</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var slideButton0 = document.getElementById("slideBtn0");
    if (slideButton0 != null) {
        slideButton0.setAttribute("class", "active");
        slideButton0.setAttribute("aria-current", "true");
    }

    var slideInner0 = document.getElementById("slideInner0");
    if (slideInner0 != null) {
        slideInner0.setAttribute("class", "carousel-item index-carousal-fitter active post-img rounded");
    }
</script>