@model List<Hello_Travellers.Models.Post>

<!--Styles for carousel-->
<style>
    .carousal-img {
        height: 100vh;
        width: 100vw;
    }

    .carousal-cont {
        height: 100vh;
        width: 100vw;
        position: relative;
        display: inline-block; /* Make the width of box same as image */
    }

        .carousal-cont .text {
            z-index: 999;
            text-align: center;
            color: #fff;
            width: 100vw;
            background: rgba(0, 0, 0, 0.8);
        }


    .text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        line-clamp: 4;
        -webkit-box-orient: vertical;
    }

        .text :hover {
            cursor: grab;
        }
</style>

<!--Splide Carousel Starts here-->
<section class="splide" aria-label="Basic Structure Example">
    <div class="splide__track">
        <ul class="splide__list">
            @for (int i = 0; i < Math.Min(3, Model.Count); ++i)
            {
                var url = Url.Content("~/Post/ViewPost?PostID=" + Model[i].PostID);
                var mediaItem = Model[i].MediaItems.FirstOrDefault();
                var imgSrc = Url.Content("~/Images/MediaContent/" + mediaItem.MediaID + mediaItem.Type);
                <li class="splide__slide" onclick='location.href=("@url")'>
                    <div class="index-carousal-fitter">
                        <img src="@imgSrc" class="post-img rounded index-carousal-img" alt="...">
                        <div class="index-carousal-content text">
                            <h1 class="index-post-header">@Model[i].Title</h1>
                            <p class="index-post-writer">by @Model[i].User.Name</p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>

<!--Toolbar here-->
<div class="btn-toolbar my-3 justify-content-md-center" role="toolbar">
    <span style="align-self: center;">
        <label>Post Count:</label>
        <select name="PostCount" class="custom-select" id="PostCount">
            <option value='9' selected>9</option>
            <option value='12' selected>12</option>
            <option value='15' selected>15</option>
        </select>
    </span>
    <div class="btn-group mx-2" role="group" aria-label="Sorting Group">
        <button type="button" onclick="RenderBottom('new')" class="btn btn-secondary">New</button>
        <button type="button" onclick="RenderBottom('upvoted')" class="btn btn-secondary">Most Upvoted</button>
        <button type="button" onclick="RenderBottom('commented')" class="btn btn-secondary">Most Commented</button>
    </div>
    <div class="btn-group mx-2" role="group" aria-label="Forum Group">
        @foreach (var subforum in ViewBag.Subforums)
        {
            var url = Url.Content("~/Post/Forum?forumID=" + subforum.ForumID);
            <button type="button" class="btn btn-secondary" onclick="location.href='@url'">@subforum.ForumName</button>
        }
    </div>
</div>
<div id="bottom">

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var splide = new Splide('.splide', {
            type: 'loop',
            height: '95vh',
            focus: 'center',
            width: '100vw'
        });

        splide.mount();
    });

    RenderBottom("new");

    function RenderBottom(criteria) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RenderBottom", "Home")',
            data: {
                Count: $('#PostCount').val(),
                Criteria: criteria
            },
            success: (response) => {
                $('#bottom').html(response);
            }
        })
    }

</script>