@{
    ViewBag.Title = "Index";
}

<style>
    .preview {
        overflow: hidden;
        width: 160px;
        height: 160px;
        margin: 10px;
        border: 1px solid grey;
    }

    .countNavs:active {
        background-color: #4abdac;
        color: white;
    }

    .post-card {
        border-radius: 10px;
        min-height: 300px;
    }


        .post-card .card-header .post-card-img img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

    .post-card-footer i {
        color: #4abdac;
    }

    .commentLink {
        text-decoration: none;
    }
    .overview-card {
        border: none;
        box-shadow: 7px 10px 7px -1px rgba(217,217,217,1);
        padding: 20px;
        background-color: rgba(232,238,255,1);
    }
    .page-header {
        color: #787A91;
        font-weight: 600;
        font-size: 20px;
    }
    .post-sidebar {
        box-shadow: -11px 4px 15px -6px rgba(232,238,255,1);
    }
</style>
<div class="container-xl px-4 mt-4">
    <div class="row">
        <!--Profile Card Start-->
        @{var url = Url.Content("~/Images/ProfilePicture/" + ViewBag.user.DisplayPictureName); }
        <div class="col-xl-4 col-lg-4 col-md-5" id="profile-info">
            <div class="card-body rounded shadow">
                <img src="@url"
                     class="card-img-top"
                     alt="..." />
                <div class="card-body">
                    <h5 class="card-title text-center"> @ViewBag.user.Username</h5>
                    <p class="card-text text-center text-wrap">
                        @ViewBag.user.About
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item username">
                            <i class="bi bi-person-circle"
                               style="margin-right: 5px; color: #4abdac"></i>@ViewBag.user.Name
                        </li>
                        <li class="list-group-item email">
                            <i class="bi bi-envelope-fill"
                               style="margin-right: 5px; color: #4abdac"></i><a href="mailto:'@ViewBag.user.Email'">@ViewBag.user.Email</a>
                        </li>
                        <li class="list-group-item phoneNum">
                            <i class="bi bi-telephone-fill"
                               style="margin-right: 5px; color: #4abdac"></i>@ViewBag.user.PhoneNumber
                        </li>
                        <li class="list-group-item gender">
                            <i class="bi bi-info-circle"
                               style="margin-right: 5px; color: #4abdac"></i>@ViewBag.user.Gender
                        </li>
                    </ul>

                    @if (ViewBag.user.Username.Equals((string)Session["Username"]))
                    {
                        <a href="~/UserProfile/EditProfile"
                           class="btn text-center d-block"
                           style="background-color: #4abdac; color:white;">Edit Profile</a>
                    }
                    else
                    {
                        <a onclick="reportProfile('@ViewBag.user.Username')"
                           class="btn text-center d-block"
                           style="background-color: #4abdac; color:white;">Report</a>
                    }
                </div>
            </div>
        </div>
        <!--Profile Card End-->
        <!--Profile Content Start-->
        <div class="col-xl-8 col-lg-8 col-md-7 post-sidebar" id="profile-content">            
            @if (ViewBag.posts.Length == 0)
            {
                <div class = "row">
                    <img src= "~/Images/nopost.jpg">
                </div>
            }
            else
            {
                for (int i = 0; i < ViewBag.posts.Length; i++)
                {


                    <!--Post Content-->
                    <div class="container-fluid mt-3">
                        <div class="row">
                            <div class="card post-card border-0 shadow mb-2">
                                <div class="card-header shadow-sm">
                                    <div class="hstack gap-3">
                                        <div class="post-card-img">
                                            <img src="@url" alt="profileImage">
                                        </div>
                                        <div class="vstack">
                                            <div>
                                                <h5>@ViewBag.posts[i].Title</h5>
                                            </div>
                                            <div>
                                                <small> @ViewBag.posts[i].CreatorUsername  @ViewBag.posts[i].CreationTime</small>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-body">
                                    <img src=@Url.Content("~/Images/MediaContent/" + ViewBag.mediaItems[i].MediaID + ViewBag.mediaItems[i].Type) class="card-img-top" />
                                    @ViewBag.posts[i].Content
                                </div>
                                <div class="card-footer border-0">
                                    <div class="hstack gap-3">
                                        <div class="post-card-footer">
                                            <i class="bi bi-hand-thumbs-up mx-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Like"></i>
                                            Likes
                                            <i class="bi bi-hand-thumbs-down mx-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Dislike"></i>
                                        </div>
                                        <div class="post-card-footer" onclick="@("window.location.href='" + Url.Content("~/Post/ViewPost?PostID=" + ViewBag.posts[i].PostID) + "'")"><i class="bi bi-chat mx-2"></i>Comments</div>
                                        <div class="post-card-footer ms-auto"><i class="bi bi-flag mx-2"></i>Report</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Load Posts-->
                }

            }
        </div>
        <!--Profile Content End-->

    </div>
</div>



<script>
    //---textArea character count---//
    let textArea = document.getElementById("inputUserAbout");
    let showChar = document.getElementById("char_count");
    //keydown for key press
    textArea.addEventListener("keydown", countChar);
    function countChar() {
        let numOfEnteredChar = textArea.value.length;
        console.log(textArea.value + " " + numOfEnteredChar);
        showChar.innerHTML = numOfEnteredChar + "/250";
    }
    //--password toggle--//
    function showPassword(iconID, inputFieldID) {
        if (document.getElementById(iconID).className === "input-group-text bi bi-eye-slash") {
            document.getElementById(iconID).className = "input-group-text bi bi-eye";
            document.getElementById(inputFieldID).type = "text";
        }
        else {
            document.getElementById(iconID).className = "input-group-text bi bi-eye-slash";
            document.getElementById(inputFieldID).type = "password";
        }
    }
    //--crop image--//

    //profile report
    async function reportProfile(username) {
        const { value: text } = await Swal.fire({
            input: 'textarea',
            inputLabel: 'Reason for report',
            inputPlaceholder: 'Type your reason here...',
            inputAttributes: {
                'aria-label': 'Type your reason here'
            },
            showCancelButton: true
        })

        if (text) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateUserReport", "UserProfile")',
                data: {
                    Reason: text,
                    Username: username
                },
                success: (response) => {
                    if (response == "Error") {
                        Swal.fire({
                            icon: 'error',
                            title: 'Failed!',
                            text: 'Something went wrong!'
                        });
                    }
                    if (response == "Exists") {
                        Swal.fire({
                            icon: 'error',
                            title: 'Already Reported!',
                            text: 'You have already reported this profile!'
                        });
                    }
                }
            })
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Invalid',
                text: 'Give us a reason!'
            });
        }
    }
</script>
