
@{
    ViewBag.Title = "Index";
}

<style>
    .preview {
        overflow: hidden;
        width: 160px;
        height: 160px;
        margin: 10px;
        border: 1px solid grey;
    }
</style>
<div class="container-lg container-md mt-2">
    <div class="row">
        <!--Profile Card Start-->
        <div class="col-lg-3 col-md-4 m-5" id="profile-info">
            <div class="card-body rounded shadow">
                <img src="~/Images/default.jpg"
                     class="card-img-top"
                     alt="..." />
                <div class="card-body">
                    <h5 class="card-title text-center"> @ViewBag.user.Username</h5>
                    <p class="card-text text-wrap">
                       @ViewBag.user.About
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item username">
                            <i class="bi bi-person-circle"
                               style="margin-right: 5px; color: #4abdac"></i>@ViewBag.user.Name
                        </li>
                        <li class="list-group-item email">
                            <i class="bi bi-envelope-fill"
                               style="margin-right: 5px; color: #4abdac"></i><a href="mailto:'@ViewBag.user.Email'">@ViewBag.user.Email</a>
                        </li>
                        <li class="list-group-item phoneNum">
                            <i class="bi bi-telephone-fill"
                               style="margin-right: 5px; color: #4abdac"></i>@ViewBag.user.PhoneNumber
                        </li>
                        <li class="list-group-item gender">
                            <i class="bi bi-info-circle"
                               style="margin-right: 5px; color: #4abdac"></i>@ViewBag.user.Gender
                        </li>
                    </ul>
                    <a href="#"
                       class="btn text-center d-block"
                       style="background-color: #4abdac; color:white;"
                       data-bs-toggle="modal"
                       data-bs-target="#editProfileModal">Edit Profile</a>
                </div>
            </div>
        </div>
        <!--Profile Card End-->
        <!--Profile Content Start-->
        <div class="col-lg-8 col-md-8" id="profile-content">
            <div class="container border-1 shadow-sm" id="profile-content-info">
                <div class="row p-2">
                    <div class="col text-center border-dark">
                        <div class="card text-dark bg-light shadow-sm border-0 profile-content-count"
                             style="max-width: 18rem">
                            <div class="card-body">
                                <h5 class="card-title">Posts</h5>
                                <p class="card-text">2</p>
                            </div>
                        </div>
                    </div>

                    <div class="col text-center">
                        <div class="card text-dark bg-light shadow-sm border-0"
                             style="max-width: 18rem">
                            <div class="card-body">
                                <h5 class="card-title">Search</h5>
                                <p class="card-text">2</p>
                            </div>
                        </div>
                    </div>

                    <div class="col text-center">
                        <div class="card text-dark bg-light shadow-sm border-0"
                             style="max-width: 18rem">
                            <div class="card-body">
                                <h5 class="card-title">Stories</h5>
                                <p class="card-text">2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Load Posts-->
         
            
        </div>
        <!--Profile Content End-->
       
    </div>
</div>

<!--Edit Profile Modal-->
@Html.Partial("EditProfile",(Hello_Travellers.Models.User)@ViewBag.user);
<!--Edit Profile Modal-->

<!--Crop Modal-->
<div class="modal fade" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-0 shadow-sm">
                <h5 class="modal-title">Crop Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="~/Images/default.jpg" class="img-fluid" id="inputImage" />
                        </div>
                        <div class="col-md-4">
                            <div class="preview"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="crop" class="btn btn-primary">Crop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Crop Modal End-->

<script>
    //---textArea character count---//
    let textArea = document.getElementById("inputUserAbout");
    let showChar = document.getElementById("char_count");
    //keydown for key press
    textArea.addEventListener("keydown", countChar);
    function countChar() {
        let numOfEnteredChar = textArea.value.length;
        console.log(textArea.value + " " + numOfEnteredChar);
        showChar.innerHTML = numOfEnteredChar + "/250";
    }
    //--password toggle--//
    function showPassword(iconID, inputFieldID) {
        if (document.getElementById(iconID).className === "input-group-text bi bi-eye-slash") {
            document.getElementById(iconID).className = "input-group-text bi bi-eye";
            document.getElementById(inputFieldID).type = "text";
        }
        else {
            document.getElementById(iconID).className = "input-group-text bi bi-eye-slash";
            document.getElementById(inputFieldID).type = "password";
        }
    }
        //--crop image--//

</script>

